################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PalanoiskaApproach/Release/vc141.pdb
