################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PalanoiskaApproach/Release/vc141.pdb
/PalanoiskaApproach/Release/resourceloader.obj
/PalanoiskaApproach/Release/PalanoiskaApproach.log
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/PalanoiskaApproach.write.1u.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/PalanoiskaApproach.lastbuildstate
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/link.write.1.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/link.read.1.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/link.command.1.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/CL.write.1.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/CL.read.1.tlog
/PalanoiskaApproach/Release/Palanois.D14F728E.tlog/CL.command.1.tlog
/PalanoiskaApproach/Release/main.obj
/PalanoiskaApproach/Release/game.obj
/PalanoiskaApproach/PalanoiskaApproach.vcxproj.user
/PalanoiskaApproach/Debug/vc141.pdb
/PalanoiskaApproach/Debug/vc141.idb
/PalanoiskaApproach/Debug/scene.obj
/PalanoiskaApproach/Debug/resourceloader.obj
/PalanoiskaApproach/Debug/pugixml.obj
/PalanoiskaApproach/Debug/PalanoiskaApproach.log
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/PalanoiskaApproach.lastbuildstate
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/link.write.1.tlog
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/link.read.1.tlog
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/link.command.1.tlog
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/CL.write.1.tlog
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/CL.read.1.tlog
/PalanoiskaApproach/Debug/Palanois.D14F728E.tlog/CL.command.1.tlog
/PalanoiskaApproach/Debug/mesh.obj
/PalanoiskaApproach/Debug/main.obj
/PalanoiskaApproach/Debug/gameobject.obj
/PalanoiskaApproach/Debug/game.obj
/PalanoiskaApproach/Debug/collision.obj
/PalanoiskaApproach/.vs/VSWorkspaceState.json
/PalanoiskaApproach/.vs/slnx.sqlite
/PalanoiskaApproach/.vs/ProjectSettings.json
/PalanoiskaApproach/.vs/PalanoiskaApproach/v15/Browse.VC.db
/PalanoiskaApproach/.vs/PalanoiskaApproach/v15/.suo
/PalanoiskaApproach/.vs/config/applicationhost.config
/Debug/sfml-window-d-2.dll
/Debug/sfml-system-d-2.dll
/Debug/sfml-graphics-d-2.dll
/Debug/sfml-audio-d-2.dll
/Debug/resources/tiles.png
/Debug/resources/scenes/TestScene.tmx
/Debug/resources/player.png
/Debug/PalanoiskaApproach.pdb
/Debug/PalanoiskaApproach.ilk
/Debug/PalanoiskaApproach.exe
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/f024fcf1baf7594e/MAIN.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/e78169ddb27f4db7/RESOURCELOADER.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/903061fb36390556/COLLISION.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/8c6cf7ac50b16ed4/RESOURCELOADER.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/8900c598b225f37a/GAME.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/8461038c9053a291/GAME.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/75286d87721e2be4/MESH.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/6d9557825c6f8724/RESOURCELOADER.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/5891b90b37081269/SCENE.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/529d39428d579881/GAME.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/20bfd4e48ec3836c/GAMEOBJECT.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/17ea7fe05a2a6d2a/SCENE.ipch
/.vs/PalanoiskaApproach/v15/Browse.VC.opendb
/.vs/PalanoiskaApproach/v15/Browse.VC.db
/.vs/PalanoiskaApproach/v15/.suo
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/dfd5e6a5a46d0fbe/MAIN.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/1ebc36fe813e331c/GAMEOBJECT.ipch
/PalanoiskaApproach/Release/scene.obj
/PalanoiskaApproach/Release/pugixml.obj
/PalanoiskaApproach/Release/mesh.obj
/PalanoiskaApproach/Release/gameobject.obj
/PalanoiskaApproach/Release/collision.obj
/Release/resources/tiles.png
/Release/resources/scenes/TestScene.tmx
/Release/resources/player.png
/Release/PalanoiskaApproach.pdb
/Release/PalanoiskaApproach.ipdb
/Release/PalanoiskaApproach.iobj
/Release/PalanoiskaApproach.exe
/Release/sfml-window-2.dll
/Release/sfml-system-2.dll
/Release/sfml-graphics-2.dll
/Release/sfml-audio-2.dll
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/745b4a18f0b4ff59/SCENE.ipch
/.vs/PalanoiskaApproach/v15/ipch/AutoPCH/258f916e7c6c43e4/ANIMATOR.ipch
*.obj
*.ipch
